// Font Family
$main-font-fmly: 'Mulish', sans-serif;

// Font Size
$btn-fnt-sz: 0.75rem;
$tt-fnt-sz: 1.125rem;
$main-fnt-sz: 1rem;
$sbt-fnt-sz: 0.875rem;

// Font Weight
$light-fnt: 300;
$regular-fnt: 400;
$bold-fnt: 700;

// Small Screen Fonts
$btn-fnt-sz-1: 0.625rem;
$tt-fnt-sz-1: 1rem;
$main-fnt-sz-1: 0.875rem;
$sbt-fnt-sz-1: 0.75rem;
